
@{
    ViewBag.Title = "Index";
}

<div style="margin:60px">
    <button onclick="location.href='@Url.Action("Training", "DogTrainings", new { dogId = 1, trainingId = 1 /*@item.TrainingId */})'">test mapy T, Kasiowy usuniety :) </button>
    <h2>Index</h2>
</div>