
@{
    ViewBag.Title = "Index";
}

<div style="margin:60px">
    <button onclick="location.href='@Url.Action("Training", "Trainings"/*, new { id = @item.TrainingId }*/)'">test mapy</button>
    <h2>Index</h2>
</div>