
@{
    ViewBag.Title = "Ustawiono nowe hasło";
}
<div style="margin:60px">
    <h2>@ViewBag.Title.</h2>

    <h3>Nowe hasło zostało ustawione! Możesz teraz zalogować się, używając nowego hasła. </h3>
    <h3>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "login" }) </h3>
</div>
