
@{
    ViewBag.Title = "Mail wysłany";
}

<div style="margin:60px">
    <h2>@ViewBag.Title.</h2>

    <h3>Email z linkiem do zresetowania hasła został wysłany na adres podany przy rejestracji. Kliknij w niego, aby ustawić nowe hasło</h3>
</div>
